In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\suert\OneDrive\Escritorio\Nueva carpeta\limpio.csv")
df.head()

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,...,satisfaction,Gender_Female,Gender_Male,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus
0,70172,13,460,3,4,3,1,5,3,5,...,neutral or dissatisfied,0,1,1,0,0,1,0,0,1
1,5047,25,235,3,2,3,3,1,3,1,...,neutral or dissatisfied,0,1,0,1,1,0,1,0,0
2,110028,26,1142,2,2,2,2,5,5,5,...,satisfied,1,0,1,0,1,0,1,0,0
3,24026,25,562,2,5,5,5,2,2,2,...,neutral or dissatisfied,1,0,1,0,1,0,1,0,0
4,119299,61,214,3,3,3,3,4,5,5,...,satisfied,0,1,1,0,1,0,1,0,0

In [3]:
df.columns

Index(['id', 'Age', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction', 'Gender_Female', 'Gender_Male',
       'Customer Type_Loyal Customer', 'Customer Type_disloyal Customer',
       'Type of Travel_Business travel', 'Type of Travel_Personal Travel',
       'Class_Business', 'Class_Eco', 'Class_Eco Plus'],
      dtype='object')

In [4]:
# index id
df = df.set_index("id")

In [5]:
df.columns

Index(['Age', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction', 'Gender_Female', 'Gender_Male',
       'Customer Type_Loyal Customer', 'Customer Type_disloyal Customer',
       'Type of Travel_Business travel', 'Type of Travel_Personal Travel',
       'Class_Business', 'Class_Eco', 'Class_Eco Plus'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 129880 entries, 70172 to 34799
Data columns (total 28 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Age                                129880 non-null  int64
 1   Flight Distance                    129880 non-null  int64
 2   Inflight wifi service              129880 non-null  int64
 3   Departure/Arrival time convenient  129880 non-null  int64
 4   Ease of Online booking             129880 non-null  int64
 5   Gate location                      129880 non-null  int64
 6   Food and drink                     129880 non-null  int64
 7   Online boarding                    129880 non-null  int64
 8   Seat comfort                       129880 non-null  int64
 9   Inflight entertainment             129880 non-null  int64
 10  On-board service                   129880 non-null  int64
 11  Leg room service                   129880 non-null  int64
 12  Baggage handling                   129880 non-null  int64
 13  Checkin service                    129880 non-null  int64
 14  Inflight service                   129880 non-null  int64
 15  Cleanliness                        129880 non-null  int64
 16  Departure Delay in Minutes         129880 non-null  int64
 17  Arrival Delay in Minutes           129880 non-null  float64
 18  satisfaction                       129880 non-null  object
 19  Gender_Female                      129880 non-null  int64
 20  Gender_Male                        129880 non-null  int64
 21  Customer Type_Loyal Customer       129880 non-null  int64
 22  Customer Type_disloyal Customer    129880 non-null  int64
 23  Type of Travel_Business travel     129880 non-null  int64
 24  Type of Travel_Personal Travel     129880 non-null  int64
 25  Class_Business                     129880 non-null  int64
 26  Class_Eco                          129880 non-null  int64
 27  Class_Eco Plus                     129880 non-null  int64
dtypes: float64(1), int64(26), object(1)
memory usage: 28.7+ MB

In [7]:
df.describe()

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,...,Arrival Delay in Minutes,Gender_Female,Gender_Male,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus
count,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,...,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000
mean,39.427957,1190.316392,2.728696,3.057599,2.756876,2.976925,3.204774,3.252633,3.441361,3.358077,...,15.091129,0.507384,0.492616,0.816908,0.183092,0.690584,0.309416,0.478596,0.448945,0.072459
std,15.119360,997.452477,1.329340,1.526741,1.401740,1.278520,1.329933,1.350719,1.319289,1.334049,...,38.407410,0.499947,0.499947,0.386743,0.386743,0.462255,0.462255,0.499544,0.497388,0.259248
min,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,40.000000,844.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,...,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,...,13.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,1584.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
X = df.drop(["satisfaction"], axis=1)
y = df["satisfaction"]

In [9]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\suert\appdata\local\programs\python\python39\lib\site-packages (1.3.0)Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 23.2 is available.
You should consider upgrading via the 'c:\Users\suert\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: numpy>=1.17.3 in c:\users\suert\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.25.1)
Requirement already satisfied: scipy>=1.5.0 in c:\users\suert\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\suert\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\suert\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (3.2.0)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

In [11]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV


param_grid = {"n_estimators": [120],    
              "max_depth": [3,4,5,6,10,15,17],
               "max_features": ["sqrt", 3, 4] 
             }

rdf = RandomForestClassifier()


grid_search = GridSearchCV(estimator=rdf, param_grid=param_grid, cv=5)


grid_search.fit(X_train, y_train)


best_params = grid_search.best_params_
print("Mejores hiperparÃ¡metros:", best_params)


best_rdf = RandomForestClassifier(**best_params)
best_rdf.fit(X_train, y_train)


y_pred = best_rdf.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
print("PrecisiÃ³n del modelo con los mejores hiperparÃ¡metros:", accuracy)

Mejores hiperparÃ¡metros: {'max_depth': 17, 'max_features': 'sqrt', 'n_estimators': 120}
PrecisiÃ³n del modelo con los mejores hiperparÃ¡metros: 0.9610601712512541

In [12]:
import pickle
pickle.dump(grid_search.best_estimator_, open('rdf.pkl','wb'))

In [13]:
grid_search.best_estimator_

RandomForestClassifier(max_depth=17, n_estimators=120)

In [14]:
 #save model joblib file
import joblib
joblib.dump(grid_search.best_estimator_, 'rdf.joblib')

['rdf.joblib']